body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}

input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #3700b3;
}

#groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group:hover {
  background-color: #555;
}

.delete-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 15px;
  transition: color 0.3s;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  color: red;
}
